<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="newbot_urdf">
  <link
    name="base_footprint">
    <!-- 注释掉避免警告
    <inertial>
      <origin
        xyz="-0.0106788069244603 3.03406082451033E-06 0.0315544073698566"
        rpy="0 0 0" />
      <mass
        value="0.383092238951158" />
      <inertia
        ixx="0.000378437006021208"
        ixy="1.74353554912544E-08"
        ixz="-8.08585230355796E-07"
        iyy="0.000352080352537235"
        iyz="-2.6985308413417E-08"
        izz="0.000665734191495081" />
    </inertial>
    -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/base_footprint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/base_footprint.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000459562971775678 1.91281559949964E-07 0.0509272198301427"
        rpy="0 0 0" />
      <mass
        value="0.662842195750155" />
      <inertia
        ixx="0.000791575529652883"
        ixy="-3.68959599153043E-09"
        ixz="1.47834123944898E-06"
        iyy="0.000779462961343519"
        iyz="3.79775346937442E-09"
        izz="0.00121676807536306" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link_jonit"
    type="fixed">
    <origin
      xyz="-0.0105 0 0"
      rpy="0 0 0" />
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="2.42792861882433E-19 -0.00652953918377876 -0.00697365946873985"
        rpy="0 0 0" />
      <mass
        value="0.00400631851216989" />
      <inertia
        ixx="1.87859486890851E-07"
        ixy="1.78340086213528E-23"
        ixz="5.39822076016702E-24"
        iyy="3.17471613375972E-07"
        iyz="-1.33700064098802E-23"
        izz="3.85307149402707E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_link_joint"
    type="fixed">
    <origin
      xyz="0.0579 0 0.0343"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="8.00974244624395E-05 5.05533740878015E-07 -0.0450951087761601"
        rpy="0 0 0" />
      <mass
        value="1.1973223579836" />
      <inertia
        ixx="0.00140765256493459"
        ixy="1.1068415355536E-06"
        ixz="-3.52869506542306E-06"
        iyy="0.00135610451100039"
        iyz="5.17665191900874E-07"
        izz="0.00206848029077174" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_link_joint"
    type="fixed">
    <origin
      xyz="0 -4.8329E-05 0.088241"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="c_wheel">
    <inertial>
      <origin
        xyz="-2.46279895643742E-08 -5.25793749061638E-08 0.00260269273033002"
        rpy="0 0 0" />
      <mass
        value="0.00233535461736231" />
      <inertia
        ixx="6.25697387572861E-08"
        ixy="-3.63504431582548E-10"
        ixz="1.69638371398056E-13"
        iyy="4.56882204112575E-08"
        iyz="3.59337812466101E-13"
        izz="7.82059005202535E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/c_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/c_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="c_wheel_joint"
    type="fixed">
    <origin
      xyz="-0.04 0 0.006"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="c_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_wheel">
    <inertial>
      <origin
        xyz="-0.000115669668952963 0.000181790847784809 1.22102290917026E-08"
        rpy="0 0 0" />
      <mass
        value="0.0158491267713471" />
      <inertia
        ixx="2.82495451452887E-06"
        ixy="1.40288295342437E-10"
        ixz="7.2291854222023E-13"
        iyy="4.84539484370688E-06"
        iyz="-4.83692960552112E-13"
        izz="2.82474103291752E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/l_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/l_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_wheel_joint"
    type="fixed">
    <origin
      xyz="0.010612 0.035925 0.0225"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_wheel">
    <inertial>
      <origin
        xyz="-0.000115669668952958 -0.000181790847784816 -1.22102290973404E-08"
        rpy="0 0 0" />
      <mass
        value="0.0158491267713471" />
      <inertia
        ixx="2.82495451452887E-06"
        ixy="-1.4028829534214E-10"
        ixz="-7.22918541083001E-13"
        iyy="4.84539484370689E-06"
        iyz="-4.83692961929676E-13"
        izz="2.82474103291753E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/r_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://newbot_urdf/meshes/r_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_wheel_joint"
    type="fixed">
    <origin
      xyz="0.010612 -0.035925 0.0225"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="r_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
